@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-lato;
}

.step-after-white {
  & > li:after {
    color: white !important;

  }
}

.btn-base {
  @apply bg-base-200 text-white border-none;
  &:hover {
    @apply bg-base-300;
  }
}

.checkbox-primary {
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --chkfg: var(--b1);
  --tw-border-opacity: 0.2;

  &:hover {
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 0.2;

  }
}

