@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-lato;
}

.step-after-white {
  & > li:after {
    color: white !important;

  }
}

.btn-base {
  @apply bg-base-200 text-white border-none;
  &:hover {
    @apply bg-base-300;
  }
}

.btn-outline.btn-neutral {
  @apply text-neutral border-neutral;
  &:hover {
    @apply bg-neutral-focus text-neutral-content;
  }
}

.btn-outline.btn-white {
  @apply text-white border-white;
  &:hover {
    @apply bg-base-100 text-base-content;
  }
}

.checkbox-primary {
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --chkfg: var(--b1);
  --tw-border-opacity: 0.2;

  &:hover {
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 0.2;

  }
}

.text-fade {
  @apply text-secondary/60;
}

.badge.badge-base {
  @apply bg-base-200 text-base-content border-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@for $i from 1 through 10 {
  .truncate-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}


//.select::selection[value=""] {
//  color: hsl(var(--bc) / var(--tw-text-opacity));
//  --tw-text-opacity: 0.5;
//  font-weight: normal;
//  font-size: 1rem;
//}
//
//.select option {
//  @apply text-secondary;
//}